.img-block {
    position: relative;
    width: 350px;
    margin: 25px;
    padding-bottom: 15px;
    border-radius: 5px;
    box-shadow: #624ad91f 0px 0px 20px 5px;
    color: #1f1f1f;
    img {
        width: 100%;
    }
    ul {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        list-style: none;
        margin: 10px auto;

        li,
        i {
            color: #1f1f1f;
            font-size: 18px;
            margin: 2.5px 7.5px;
        }
    }
    .tag {
        background-color: gray;
        padding: 5px;
        color: #fff;
        font-size: 16px;
        margin: 2.5px 7.5px;
        border-radius: 10px;
        text-align: center;
        font-weight: 600;
    }
    p {
        color: #c13584;
        font-size: 16px;
        text-align: center;
        margin: 5px auto;
    }
}

@media (max-width: 1280px) {
    .img-block {
        width: 300px;
        margin: 15px;
    }
}

@media (max-width: 768px) {
    .img-block {
        width: 275px;
        margin: 10px;
    }
}

@media (max-width: 600px) {
    .img-block {
        width: 325px;
        margin: 10px;
    }
}
